#
# requirements-epanet.txt - Python requirements for running nrtest
#
# Created: Jun 3, 2020
# Updated:
#
# Author: See AUTHORS
#
# Useful for configuring a python environment to run epanet-nrtestsuite
#
# command:
#  pip install -r requirements-epanet.txt
#

nrtest

-f https://github.com/OpenWaterAnalytics/epanet-python/releases/download/0.3.0-dev.1/epanet.output-0.2.0.dev0-cp36-cp36m-win_amd64.whl
epanet.output

-f https://github.com/michaeltryby/epanet-python/releases/download/0.4.0-dev/nrtest_epanet-0.6.0-py3-none-any.whl
nrtest-epanet
