#
# requirements-swmm.txt - Python requirements for running nrtest
#
# Created:  Jun 3, 2020
# Updated:
#
# Author: See AUTHORS
#
# Useful for configuring a python environment to run nrtests on swmm.
#
# usage:
#   pip install -r requirements-swmm.txt
#

nrtest

-f https://github.com/SWMM-Project/swmm-python/releases/download/v0.6.0-rc.2/swmm_toolkit-0.5.0-cp37-cp37m-win_amd64.whl
swmm-toolkit==0.5.0

-f https://github.com/SWMM-Project/swmm-python/releases/download/v0.6.0-rc.1/nrtest_swmm-0.6.0-py3-none-any.whl
nrtest-swmm==0.6.0
