#
# requirements-swmm.txt - Python requirements for running nrtest
#
# Created:  Jun 3, 2020
# Updated:
#
# Author: See AUTHORS
#
# Useful for configuring a python environment to run nrtests on swmm.
#
# usage:
#   pip install -r requirements-swmm.txt
#

aenum==3.1.11

nrtest==0.2.5

-f https://github.com/SWMM-Project/swmm-python/releases/download/v0.15.2/swmm_toolkit-0.15.2-cp311-cp311-win_amd64.whl
swmm-toolkit==0.15.2

-f https://github.com/SWMM-Project/swmm-python/releases/download/v0.15.2/nrtest_swmm-0.7.0-py3-none-any.whl
nrtest-swmm==0.7.0
