#
# requirements-swmm.txt - Python requirements for running nrtest on Win32/Win64
#
# Created:  Oct 17, 2019
# Updated:  May 20, 2025
#
# Author: See AUTHORS
#
# Useful for configuring a python environment to run nrtests on swmm.
#
# usage:
#   pip install -r tools/requirements-swmm.txt
#

-i https://michaeltryby.github.io/python-index/

aenum==3.1.11

nrtest==0.2.5

swmm-toolkit==0.15.2

nrtest-swmm==0.8.0
