#
# requirements-swmm.txt
#
# Created: Mar 15, 2018
# Updated: May 20, 2025
#
# Author: See AUTHORS
#
# Useful for configuring a python environment to run swmm-nrtestsuite.
#
# command: pip install -r tools/requirements-swmm.txt
#

-i https://michaeltryby.github.io/python-index/

aenum==2.2.6

nrtest==0.2.5

swmm-toolkit==0.5.0

nrtest-swmm==0.6.0
