#
# requirements-appveyor.txt
#
# Date Created: 3/15/2018
# Author: See AUTHORS
#
# Useful for configuring a python environment to run swmm-nrtestsuite.
#
# command: pip install -r tools/requirements-appveyor.txt
#


nrtest

-f https://github.com/SWMM-Project/swmm-python/releases/download/v0.6.0-rc.1/swmm_toolkit-0.5.0-cp37-cp37m-linux_x86_64.whl
swmm-toolkit==0.5.0

-f https://github.com/SWMM-Project/swmm-python/releases/download/v0.6.0-rc.1/nrtest_swmm-0.6.0-py3-none-any.whl
nrtest-swmm==0.6.0
